.btn {
  font-size: 100px;
  background-color: grey;
  text-decoration: none;
  border-radius: none;
}
.btn-link {
  text-decoration: none;
  color: red;
}
button {
  border-radius: none;
  color: antiquewhite;
}
